<div{{ attributes.addClass('profile-help') }}>
  {{ title_prefix }}
  <div class="profile-help-wrapper">
    {% if element.content.field_title|field_value %}
      <div class="profile-help-title">
        <h1>{{ element.content.field_title|field_value }}</h1>
      </div>
    {% endif %}

    <div class="profile-help-info">
      {% if element.content.field_description|field_value %}
        {{ element.content.field_description|field_value }}
      {% endif %}
    </div>
  </div>
  <div class="profile-help-bottom">
    <a class="toggle-help" href="#">{{ 'Toggle help'|t }}</a>
  </div>
  {{ title_suffix }}
</div>
