{% if logged_in %}
  <div class="comment-wrapper">

    {% if user_picture is not empty %}
      {{ user_picture }}
    {% endif %}

    <div class="comment-container">
      <div class="user-info">
        <div class="name">
          {{ author_name }}
        </div>
        <span class="commented">{{ created }}</span>

        {{ content.votingapi_links }}
      </div>
      <div{{ content_attributes.addClass('comment-body') }}>
        {{ content.field_comment_body }}

        <a href="{{ path('entity.node.canonical', {'node': commented_entity.id()}) }}" role="link" class="article-link">
          {{ commented_entity.label() }}
        </a>
      </div>
    </div>
  </div>
{% endif %}
