<div class="comment-wrapper">
  {% if logged_in %}
    <a href="{{ author_url }}">
  {% endif %}

  {{ user_picture }}

  {% if logged_in %}
    </a>
  {% endif %}

  <div class="comment-container">
    <div class="user-info">
      {% if logged_in %}
        <a href="{{ author_url }}">
      {% endif %}

      <div class="name">
        {{ author_name }}
      </div>

      {% if logged_in %}
        </a>
      {% endif %}

      <span class="commented">{{ created }}</span>

      {{ content.votingapi_links }}
    </div>
    <div{{ content_attributes.addClass('comment-body') }}>
      {{ content.field_comment_body }}

      <a href="{{ path('entity.node.canonical', {'node': commented_entity.id()}) }}" role="link" class="article-link">
        {{ commented_entity.label() }}
      </a>
    </div>
  </div>
</div>
