<div class="comment-wrapper">
  {{ user_picture }}

  <div class="comment-container">
    <div class="user-info">

      <div class="name">
        {{ author_name }}
      </div>
      <span class="commented">{{ created }}</span>

      {{ content.votingapi_links }}
    </div>
    <div{{ content_attributes.addClass('comment-body') }}>
      {{ content.field_comment_body }}
    </div>

    <a href="{{ path('entity.node.canonical', {'node': commented_entity.id()}) }}" role="link">
      {{ commented_entity.label() }}
    </a>
  </div>
</div>
