{% if logged_in %}
  <section{{ attributes.addClass('comment-wrapper') }}>
    {% if comment_status %}
      <div class="title-wrapper">
        <h2{{ title_attributes }}>{{ 'Comments'|t }}:</h2>
        <div class="line"></div>
      </div>
    {% endif %}

    {% if comment_form %}
      {{ comment_form }}
    {% endif %}
    {% for item in items %}
      {{ item.content['comments'] }}
    {% endfor %}
  </section>
{% endif %}

{% if comment_forbidden %}
  <div class="comment-wrapper">
    <div class="title-wrapper">
      <h2>{{ 'Comments'|t }}:</h2>
      <div class="line"></div>
    </div>
    {{ comment_forbidden }}
  </div>
{% endif %}
