<section{{ attributes.addClass('comment-wrapper') }}>
  {% if comment_status %}
    <div class="title-wrapper">
      <h2{{ title_attributes }}>{{ 'Comments'|t }} ({{ comment_count }})</h2>
      <div class="line"></div>
    </div>
  {% endif %}

  {% if comment_forbidden %}
    {{ comment_forbidden }}
  {% endif %}

  {% for item in items %}
    {{ item.content['comments'] }}
  {% endfor %}

  {% if comment_form %}
    <div class="title-wrapper">
      <h2{{ content_attributes }}>{{ 'Write comment'|t }}</h2>
      <div class="line"></div>
    </div>
    {{ comment_form }}
  {% endif %}
</section>
