<section{{ attributes }}>

  {% if comment_form %}
    <div class="title-wrapper">
      <h2{{ content_attributes }}>{{ 'Write comment'|t }}</h2>
      <div class="line"></div>
    </div>
    {{ comment_form }}
  {% endif %}

  {{ comments }}

</section>
