<section{{ attributes.addClass('comment-wrapper') }}>
  {% if comment_status %}
    <div class="title-wrapper">
      <h2{{ title_attributes }}>{{ 'Comments'|t }}:</h2>
      <div class="line"></div>
    </div>
  {% endif %}

  {% if comment_form %}
    {{ comment_form }}
  {% endif %}

  {% if comment_forbidden %}
    {{ comment_forbidden }}
  {% endif %}

  {% for item in items %}
    {{ item.content['comments'] }}
  {% endfor %}
</section>
