{% if content.field_image|field_value %}
  <div class="header-image">
    {{ content.field_image|field_value }}
  </div>
{% elseif content.field_news_image|field_value %}
  <div class="header-image">
    {{ content.field_news_image|field_value }}
  </div>
{% endif %}

<article{{ attributes }} role="article">
  {% if display_submitted %}
    <div class="post-info">
      <time datetime="{{ content.field_content_date|field_value|field_raw }}">
        {{ content.field_content_date|field_value }}
      </time>
      {% if content.field_news_country_content|field_value %}
        <span class="country">
          {{ content.field_news_country_content|field_value }}
        </span>
      {% endif %}
      {% if content.field_author %}
        <span class="author">
          {% trans %}By: {% endtrans %} {{ content.field_author }}
        </span>
      {% endif %}
    </div>
  {% endif %}

  {{ title_prefix }}
  <div class="title-wrapper">
    <h1 class="page-title">
      {{ label }}
    </h1>
    <div class="line"></div>
  </div>
  {% if contextual_link_access %}
    {{ title_suffix }}
  {% endif %}

  {% if node.body.summary %}
    <div class="summary-text">
      <p>{{ node.body.summary }}</p>
    </div>
  {% endif %}

  {{ content.body }}

  {{ content.addtoany }}

  {% if content.field_content_paragraph|field_value %}
    {{ content.field_content_paragraph|field_value }}
  {% endif %}
</article>
