<div class="slider-wrapper country-slider">
  {% for key, item in content.field_slider %}
    {% if key|first != '#'  %}
      <div class="slider-item-wrapper{{ key == 0 ? ' first-slide' : '' }}">
        {% if key == 0 %}
          <div class="country-content-wrapper">
            {% if 'country' == group_bundle  %}
              <div class="country-icon-wrapper">
                <img src="{{ file_url(group_icon) }}">
              </div>
            {% elseif group_icon is not empty %}
              <img src="{{ file_url(group_icon) }}">
            {% else %}
              <div class="country-icon-wrapper default {{ group_bundle }}"></div>
            {% endif %}

            <h1 role="heading">
              {{ group_label|t|upper }}
            </h1>

            {% if logged_in %}
              {{ following_form }}
            {% endif %}
          </div>
        {% endif %}

        {{ item }}
      </div>
    {% endif %}
  {% endfor %}
</div>
