<section class="content-with-sidebar dashboard">
  {% if content.dashboard|without('#prefix', '#suffix') is not empty %}
    <div class="content top-text-region">
      {{ content.dashboard|without('#prefix', '#suffix') }}
    </div>
  {% endif %}
  {% if content.dashboard_sidebar|without('#prefix', '#suffix') is not empty %}
    <aside class="sidebar">
      {{ content.dashboard_sidebar|without('#prefix', '#suffix') }}
    </aside>
  {% endif %}
</section>

{% if content.banner|without('#prefix', '#suffix') is not empty %}
  <div class="top-banner-region">
    {{ content.banner|without('#prefix', '#suffix') }}
  </div>
{% endif %}

<section class="content-container content-with-sidebar">
  <div class="region-wrapper">
    {{ content.content|without('#prefix', '#suffix') }}
  </div>

  {% if content.right|without('#prefix', '#suffix') is not empty %}
    <aside class="sidebar">
      {{ content.right|without('#prefix', '#suffix') }}
    </aside>
  {% endif %}
</section>

{% if content.bottom|without('#prefix', '#suffix') is not empty %}
  <div class="full-width">
    {{ content.bottom|without('#prefix', '#suffix') }}
  </div>
{% endif %}
