<div{{ attributes.addClass('item').addClass('voices').addClass('list-item') }}>
  <a href="{{ url }}" rel="bookmark">
    <div class="voices-container view-list-container">
      {{ content }}
    </div>
    <div class="post-info">
      {% if node_date %}
        {{ node_date }}
      {% endif %}
    </div>
    <h2>{{ label }}</h2>
  </a>
</div>
