<div class="vote-widget vote-widget--like-and-dislike">
  <div class="vote-like type-{{ entity_type }}" id="like-container-{{ entity_type }}-{{ entity_id }}">
    <a {{ like_attributes }}>{{ "Joining event"|t }}</a>
  </div>
  <div class="vote-dislike type-{{ entity_type }}" id="dislike-container-{{ entity_type }}-{{ entity_id }}">
    <a {{ dislike_attributes }}>{{ "Not joining"|t }}</a>
  </div>
</div>
