<div class="vote-widget vote-widget--like-and-dislike">
  <div class="vote-like type-{{ entity_type }}" id="like-container-{{ entity_type }}-{{ entity_id }}">
    <a {{ like_attributes.setAttribute('title',"Participate"|t ) }}>{{ "Participate"|t }}</a>
  </div>
  <div class="vote-dislike type-{{ entity_type }}" id="dislike-container-{{ entity_type }}-{{ entity_id }}">
    <a {{ dislike_attributes.setAttribute('title',"Decline"|t ) }}>{{ "Decline"|t }}</a>
  </div>
</div>
