<article{{ attributes.addClass('document-teaser') }}>
  <div class="font-social-icon {{ group.bundle() }}-icon">
    <span></span>
  </div>

  {{ title_prefix }}
  <h4 role="heading">
    {{ label }}
  </h4>
  {% if contextual_link_access %}
    {{ title_suffix }}
  {% endif %}

  <a href="{{ path('entity.group.canonical', {'group': group.id()}) }}" role="link">
    {{ 'Read more'|t }}
  </a>
</article>
