{{ title_preffix }}
{{ title_suffix }}
<a href="{{ url }}">
  <div class="country-title">
    {{ content.field_country_icon }}
    <h3 role="heading">{{ label }}</h3>
  </div>
  {% if not logged_in %}
    {{ content.field_infographic }}
  {% else %}
</a>
  {{ drupal_view('last_news_by_group', 'embed_1', group.id.value) }}
<a href="{{ url }}">
  {% endif %}
  {{ content.field_regions }}
</a>
