{{ title_preffix }}
{{ title_suffix }}
<div class="country-title">
    {% if group_icon %}
      <div class="country-icon-wrapper">
          <img src="{{ file_url(group_icon) }}">
      </div>
    {% endif %}
    <h3 role="heading">{{ label }}</h3>
</div>
{% if not logged_in %}
    {{ content.field_infographic }}
{% else %}
    {{ drupal_view('last_news_by_closed_group', 'closed_groups', group.id.value) }}
    {{ drupal_view('cd_user_view', 'kv_manager', group.id.value) }}
{% endif %}

<a href="{{ url }}" class="country-link"></a>
