{{ title_preffix }}
{{ title_suffix }}
<div class="country-title">
  {{ content.field_country_icon }}
  <h3 role="heading">{{ label }}</h3>
</div>
{% if not logged_in %}
  {{ content.field_infographic }}
{% else %}
  {{ drupal_view('last_news_by_group', 'embed_1', group.id.value) }}
{% endif %}
{{ content.field_regions }}
<a href="{{ url }}" class="country-link"></a>
