<div class="article-item">
  <div{{ attributes.addClass('article-content') }}>
    <div class="article-title">
      {% if content.field_type|field_value %}
        <p class="article-type">
          {{ content.field_type|field_value }}
        </p>
      {% endif %}

      {{ title_prefix }}
      <h3 role="heading">
        {{ label }}
      </h3>
      {{ title_suffix }}

      {{ content.body }}

      <a href="{{ url }}" class="read-more">
        {{ 'Read more'|t }}
      </a>
    </div>
  </div>
</div>
