<div class="panel-2col-stacked" {% if css_id %}{{ css_id }}{% endif %}>
  <div class="panel-panel panel-full-width">
    {{ content.top }}
  </div>

  <div class="panel-panel">
    {{ content.left }}
  </div>

  <div class="panel-panel">
    {{ content.right }}
  </div>

  <div class="panel-panel panel-full-width">
    {{ content.bottom }}
  </div>
</div>
