{{ elements.membericons_3 }}
<div class="header-static">
  {{ elements.dashlogos }}
  <div class="wrapper">
    {{ elements.logos }}
    <div class="mobile-dashboard-menu-btn font-social-icon person-icon">
      <span></span>
    </div>
    <div class="mobile-menu-btn font-social-icon menu-icon">
      <span></span>
    </div>
    <div class="mobile-menu-wrapper">
      {{ elements.headermenu_3 }}
      {{ elements.headerdashboardmenu }}
      <div class="mobile-service-links">
        {{ elements.usermenu_2 }}
      </div>
      {% if elements.languageswitchercontent %}
        <div class="language-switcher-wrapper">
          {{ elements.languageswitchercontent }}
        </div>
      {% endif %}
      <div class="desktop-service-links">
        {{ elements.usermenu_2 }}
      </div>
      {{ elements.linktoglobal }}
      {{ elements.sociallinks_2 }}
      {{ elements.membericons_3 }}
    </div>
  </div>
</div>
