{{ elements.membericons_3 }}
<div class="header-static {{ elements.countrymenublock ? 'h-with-anchors' : 'without-anchors' }}">
  {{ elements.dashlogos }}
  <div class="wrapper">
    {{ elements.logos }}
    <div class="mobile-dashboard-menu-btn font-social-icon person-icon">
      <span></span>
    </div>
    <div class="mobile-menu-btn font-social-icon menu-icon">
      <span></span>
    </div>
    <div class="mobile-menu-wrapper">
      {{ elements.headermenu_3 }}
      {{ elements.headerdashboardmenu }}
      {% if elements.usermenu_2 %}
        <div class="mobile-service-links">
          {{ elements.usermenu_2 }}
        </div>
      {% endif %}
      {% if elements.usermenu_2 %}
        <div class="desktop-service-links">
          {{ elements.usermenu_2 }}
        </div>
      {% endif %}
      {{ elements.linktoglobal }}
      {{ elements.sociallinks_2 }}
      {{ elements.membericons_3 }}
    </div>
  </div>
  {% spaceless %}
    <div class="bottom-head {{ elements.countrymenublock ? 'has-anchor-links' : '' }}">
      {% if elements.countrymenublock %}
        {{ elements.countrymenublock }}
      {% endif %}
    </div>
  {% endspaceless %}
</div>
