<div class="header-static">
  <div class="wrapper">
    {{ elements.logos }}
    {{ elements.membericons_3 }}
    <div class="mobile-menu-btn font-social-icon menu-icon">
      <span></span>
    </div>
    <div class="mobile-menu-wrapper">
      {{ elements.headermenu_3 }}
      <div class="mobile-service-links">
        {{ elements.usermenu_2 }}
      </div>
      {{ elements.languageswitchercontent }}
      <div class="desktop-service-links">
        {{ elements.usermenu_2 }}
      </div>
      {{ elements.sociallinks_2 }}
    </div>
  </div>
</div>
