<div class="header-fixed {{ elements.country_menu_block ? 'h-with-anchors' : 'without-anchors' }}">
  <div class="top-head">
    {{ elements.dashlogos_2 }}
    <div class="wrapper">
      {{ elements.logos_2 }}
      <div class="mobile-dashboard-menu-btn font-social-icon person-icon">
        <span></span>
      </div>
      <div class="mobile-menu-btn font-social-icon menu-icon">
        <span></span>
      </div>
      <div class="mobile-menu-wrapper">
        {{ elements.header_menu }}
        {{ elements.headerdashboardmenu_2 }}
        <div class="service-links">
          <ul>
            {% if logged_in %}
              <li>
                <a href="{{ url('page_manager.page_view_my_settings') }}">
                  {{ 'Profile'|t }}
                </a>
              </li>
            {% else %}
              <li>
                <a href="{{ url('user.register') }}" class="login-link">
                  {{ 'Sign Up'|t }}
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% spaceless %}
    <div class="bottom-head {{ elements.country_menu_block ? 'has-anchor-links' : '' }}">
      {% if elements.country_menu_block %}
        {{ elements.country_menu_block }}
      {% endif %}
    </div>
  {% endspaceless %}
</div>
