{{ elements.membericons_3 }}
<div class="header-static {{ elements.countrymenublock ? 'h-with-anchors' : '' }}">
  {{ elements.dashlogos }}
  <div class="wrapper">
    {{ elements.logos }}
    <div class="mobile-dashboard-menu-btn font-social-icon person-icon">
      <span></span>
    </div>
    <div class="mobile-menu-btn font-social-icon menu-icon">
      <span></span>
    </div>
    <div class="mobile-menu-wrapper">
      {{ elements.headermenu_3 }}
      {{ elements.headerdashboardmenu }}
      <div class="mobile-service-links">
        {{ elements.usermenu_2 }}
      </div>
      {% if elements.languageswitchercontent %}
        <div class="language-switcher-wrapper">
          {{ elements.languageswitchercontent }}
        </div>
      {% endif %}
      <div class="desktop-service-links">
        {{ elements.usermenu_2 }}
      </div>
      {{ elements.sociallinks_2 }}
      {{ elements.membericons_3 }}
    </div>
  </div>
  {% spaceless %}
    <div class="bottom-head {{ elements.countrymenublock ? 'has-anchor-links' : '' }}">
      {% if elements.countrymenublock %}
        {{ elements.countrymenublock }}
      {% endif %}
    </div>
  {% endspaceless %}
</div>
