{{ elements.membericons_3 }}
<div class="header-static {{ elements.countrymenublock ? 'h-with-anchors' : 'without-anchors' }}">
  {{ elements.dashlogos }}
  <div class="wrapper">
    {{ elements.logos }}
    <div class="mobile-dashboard-menu-btn font-social-icon person-icon">
      <span></span>
    </div>
    <div class="mobile-menu-btn font-social-icon menu-icon">
      <span></span>
    </div>
    <div class="mobile-menu-wrapper">
      {{ elements.headermenu_3 }}
      {{ elements.headerdashboardmenu }}
      <div class="mobile-service-links">
        <div class="service-links">
          <ul>
            {% if logged_in %}
              <li>
                <a href="{{ url('page_manager.page_view_my_settings') }}">
                  {{ 'Profile'|t }}
                </a>
              </li>
            {% else %}
              <li>
                <a href="{{ url('user.register') }}" class="login-link">
                  {{ 'Sign Up'|t }}
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="desktop-service-links">
        <div class="service-links">
          <ul>
            {% if logged_in %}
              <li>
                <a href="{{ url('page_manager.page_view_my_settings') }}">
                  {{ 'Profile'|t }}
                </a>
              </li>
            {% else %}
              <li>
                <a href="{{ url('user.register') }}" class="login-link">
                  {{ 'Sign Up'|t }}
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {{ elements.linktoglobal }}
      {{ elements.sociallinks_2 }}
      {{ elements.membericons_3 }}
    </div>
  </div>
  {% spaceless %}
    <div class="bottom-head {{ elements.countrymenublock ? 'has-anchor-links' : '' }}">
      {% if elements.countrymenublock %}
        {{ elements.countrymenublock }}
      {% endif %}
    </div>
  {% endspaceless %}
</div>
