<div class="header-fixed">
  <div class="top-head">
    <div class="wrapper">
      {{ elements.logos_2 }}
      <div class="mobile-menu-btn font-social-icon menu-icon">
        <span></span>
      </div>
      <div class="mobile-menu-wrapper">
        {{ elements.header_menu }}
        {{ elements.user_menu }}
      </div>
    </div>
  </div>

  <div class="bottom-head">
    {#{{ breakpoint() }}#}
    {% if elements.country_menu_block %}
      {{ elements.country_menu_block }}
    {% endif %}
  </div>
</div>
