<div class="related-docs related-user-docs">
  <h2 role="heading" class="related-user-docs--title">{{ 'Related Documents'|t }}</h2>
  <ul role="list">
    <li role="listitem">
      <article{{ attributes }}>
        <h4 role="heading">
            {{ file_name }}
        </h4>
        <div class="font-social-icon {{ document_type }}-icon">
            <span></span>
        </div>
        <a href="{{ file_url }}" class="download" download="">{{ 'Download'|t }}</a>
      </article>
    </li>
  </ul>
</div>