{% spaceless %}
  {% if multiple %}
    <div{{ attributes }}>
      {% if not label_hidden %}
        <div{{ title_attributes }}>{{ label }}</div>
      {% endif %}
      {% for item in items %}
        <div{{ item.attributes }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ title_attributes }}>
        {% if not label_hidden %}
          {{ label }}:
        {% endif %}
        {{ item.content }}
      </div>
    {% endfor %}
  {% endif %}
{% endspaceless %}
