<div class="content-wrapper">
  <div class="icon">
    {{ content.field_infographic_icon|field_value }}
  </div>

  <h2>
    {{ content.field_title|field_value }}
  </h2>

  <div class="value">
    {{ content.field_title|field_value }}
  </div>
</div>
<div class="overlay-wrapper">
  <h3>
    {{ content.field_title|field_value }}
  </h3>

  <p class="description">
    {{ content.field_description|field_value }}
  </p>
</div>
