<div class="project-content">
  <div{{ attributes }}>
    {{ title_prefix }}
    <div class="project-title">
      <h3 role="heading">
        {{ label }}
      </h3>
      <div class="summary">
        {{ content.field_summary }}
      </div>
    </div>
    {{ title_suffix }}
  </div>
  <a href="{{ url }}" class="project-link"></a>
</div>
