{#
/**
 * @file
 *
 * This file is also used in:
 * group--project-protected--default.html.twig
 */
#}

<div{{ attributes.addClass(group.bundle() ~ '-group') }}>
  <div class="project-icon">
    {{ content.field_project_icon }}
  </div>
  {{ title_prefix }}
  <div class="title-wrapper">
    <h1 role="heading">
      {{ label }}
    </h1>
    {{ content.field_end_date }}

    <div class="line"></div>
  </div>
  {{ title_suffix }}

  {% if logged_in %}
    {{ following_form }}
  {% endif %}

  <div class="summary-text">
    {{ content.field_summary }}
  </div>

  <div class="more-content-wrapper">
    <div class="read-more show-more">{{ 'Read more'|t }}</div>
    <div class="more-content">
      {{ content.field_content|field_value }}
    </div>
  </div>
</div>
