<div{{ attributes.addClass(group.bundle() ~ '-group') }}>
  <div class="project-icon">
    {{ content.field_project_icon }}
  </div>
  {{ title_prefix }}
  <div class="title-wrapper">
    <h1 role="heading">
      {{ label }}
    </h1>

    <div class="line"></div>
  </div>
  {{ title_suffix }}

  <div class="summary-text">
    {{ content.field_summary }}
  </div>

  <div class="more-content-wrapper">
    <div class="read-more show-more">{{ 'Read more'|t }}</div>
    <div class="more-content">
      {{ content.field_content|field_value }}
    </div>
  </div>
</div>
