<div class="project-item">
    <div{{ attributes.addClass('project-content') }}>
        {{ title_prefix }}
        {{ title_suffix }}
        <div class="project-title">
            <div class="project-icon-wrapper">
              {% if (content.field_project_icon['0']) %}
                {{ content.field_project_icon }}
              {% else %}
                <img src="{{ site_base_url }}/themes/custom/ample/images/project-icon.svg" alt="project logo">
              {% endif %}
            </div>
            <h3 role="heading">
                {{ label }}
            </h3>
            <div>{{ content.field_date }}</div>
            <div>{{ content.field_end_date }}</div>
            <div class="summary">
                {% if not logged_in %}
                    {{ content.field_summary_public }}
                {% else %}
                    {{ content.field_summary }}
                {% endif %}
            </div>
        </div>
        {% if not logged_in %}
            <div class="bottom-link">
                {# TODO Should use here a router.#}
                {{ link('Sign up to know more'|t, 'base:user/sign-up', { 'class':[ 'read-more' ] }) }}
            </div>
        {% else %}
            {{ drupal_view('last_news_by_closed_group', 'closed_groups', group.id.value) }}
            {{ drupal_view('cd_user_view', 'kv_manager', group.id.value) }}
            <a href="{{ url }}" class="project-link"></a>
        {% endif %}
    </div>
</div>
