<div class="country-content">
  <div{{ attributes }}>
    {{ title_prefix }}
    <div class="country-title">
      <h3 role="heading">
        {{ label }}
      </h3>
    </div>
    {{ title_suffix }}
    {{ content.field_summary }}
  </div>
  <a href="{{ url }}" class="country-link"></a>
</div>
