<div class="project-content">
  <div{{ attributes }}>
    {{ content.field_project_icon }}
    {{ title_prefix }}
    <div class="project-title">
      <h3 role="heading">
        {{ label }}
      </h3>
      <div class="summary">
        {% if not logged_in %}
          {{ content.field_summary_public }}
        {% else %}
          {{ content.field_summary }}
        {% endif %}
      </div>
    </div>
    {{ title_suffix }}
  </div>
  {% if not logged_in %}
    <div class="bottom-link">
      <a href="{{ path('user.login') }}" class="read-more">
        {{ 'Signup to know more'|t }}
      </a>
    </div>
  {% else %}
    {{ drupal_view('last_news_by_group', 'embed_1', group.id.value) }}
    <a href="{{ url }}" class="project-link"></a>
  {% endif %}
</div>
