<div class="news-events-list">
  {% if header %}
    {% if header_without_wrapper is not defined %}
      <{{ header_tag|default('h2') }}{{ header_classes }}>
      {{ header }}
      </{{ header_tag|default('h2') }}>
    {% else %}
      {{ header }}
    {% endif %}
  {% endif %}

  {{ rows }}

  {# @TODO It would better to fix core:
    There is condition to non-empty roews has been added because some wrong
    with "Always display the more link" option of core module.
    See a renderMoreLink function of DisplayPluginBase.
  #}
  {% if rows is not empty and more and is_anonymous %}
    <div class="bottom-link">
      <a href="{{ more["#url"] }}" class="read-more">{{ more["#title"] }}</a>
    </div>
  {% endif %}

</div>
