<div class="resource-view">

  <div class="top-banner-region resource-banner">
    <div class="section-info">
      <div class="infographic__item">
        <div class="title_desc__wrapper">
          <h2 class="heading" role="heading">
            {{ 'Our documents'|t }}
          </h2>
        </div>

      </div>
    </div>
  </div>

  {% set classes = [dom_id ? 'js-view-dom-id-' ~ dom_id] %}

  {% if header %}
  {% if header_without_wrapper is not defined %}
  <{{ header_tag|default('header') }}{{ header_classes }}>
  {{ header }}
  </{{ header_tag|default('header') }}>
  {% else %}
  {{ header }}
  {% endif %}
{% endif %}

{% if without_wrapper is not defined %}
<div{{ attributes.addClass(classes) }}>
{% endif %}
{{ title_prefix }}
{{ title }}
{{ title_suffix|without('contextual_links') }}

{{ exposed }}
{{ attachment_before }}

{{ rows }}
{{ empty }}
{{ pager }}

{{ attachment_after }}
{{ more }}

{% if footer %}
{% if footer_without_wrapper is not defined %}
<{{ footer_tag|default('footer') }}{{ footer_classes }}>
{{ footer }}
</{{ footer_tag|default('footer') }}>
{% else %}
{{ footer }}
{% endif %}
{% endif %}

{% if without_wrapper is not defined %}
</div>
{% endif %}
</div>
