{% if content.field_copyright_text|field_value %}
  <p>{{ content.field_copyright_text|field_value }}</p>
{% endif %}

<h4>{{ 'P4H Members'|t }}:</h4>

<div class="partners">
  <div{{ attributes }}>
    {{ title_prefix }}
    <ul class="item-list">
      {% if content.field_member_icons|field_value %}
        {{ content.field_member_icons|field_value }}
      {% endif %}
    </ul>
    {{ title_suffix }}
  </div>
</div>
