<div class="social-links">
  <div{{ attributes }}>
    {{ title_prefix }}
    <a href="{{ path('user.logout') }}" class="link-out">
      {{ content.field_link[0]['#title'] }}
    </a>
    {{ title_suffix }}
  </div>
</div>
