<div{{ attributes }}>
  {{ title_prefix }}
  <div class="error-block">
    {% if content.field_logo %}
      <div class="error-image-wrapper">
        <img src="{{ file_url(content.field_logo|render|striptags|trim) }}"/>
      </div>
    {% endif %}

    <div class="top-text-region">
      {% if content.field_title|field_value %}
        <div class="title-wrapper">
          <h1>{{ content.field_title|field_value }}</h1>
        </div>
      {% endif %}

      <div class="summary-text">
        {% if content.field_description|field_value %}
          <p>{{ content.field_description|field_value }}</p>
        {% endif %}
      </div>

      {{ content.field_links }}

    </div>
  </div>

  {{ title_suffix }}
</div>
