<div class="popup-wrapper logout-popup">
  <div class="title-wrapper">
    <h1 role="heading">
      {{ configuration.header }}
    </h1>
    <div class="line"></div>
  </div>

    <div class="summary-text">
    <p>
      {{ configuration.message }}
    </p>
  </div>

  <div class="action-links">
    <a href="{{ url('user.logout') }}" class="logout-link">
      {{ configuration.continue }}
    </a>

    <a href="#" class="cancel-link">
      {{ configuration.cancel }}
    </a>
  </div>
</div>
