<div class="social-links">
  <div{{ attributes }}>
    {{ title_prefix }}
    <a href="{{ content.field_link[0]['#url'] }}" class="theme-switcher">
      {{ content.field_link[0]['#title'] }}
    </a>
    {{ title_suffix }}
  </div>
</div>
