{% if content.field_copyright %}
  {{ content.field_copyright }}
{% endif %}

<h4>{{ 'P4H Members'|t }}:</h4>

<div class="partners">
  <div{{ attributes }}>
    {{ title_prefix }}
    <ul class="item-list">
      {% if content.field_member_icons|field_value %}
        {{ content.field_member_icons|field_value }}
      {% endif %}
    </ul>
    {{ title_suffix }}
  </div>
</div>
