<div class="social-links">
  <div{{ attributes }}>
    {{ title_prefix }}
    <ul class="menu">
      {% if content.field_facebook|field_value %}
        <li class="font-social-icon facebook-icon">
          <a href="{{ content.field_facebook.0['#url'] }}" target="_blank"></a>
        </li>
      {% endif %}

      {% if content.field_linkedin|field_value %}
        <li class="font-social-icon linkedin-icon">
          <a href="{{ content.field_linkedin.0['#url'] }}" target="_blank"></a>
        </li>
      {% endif %}

      {% if content.field_twitter|field_value %}
        <li class="font-social-icon twitter-icon">
          <a href="{{ content.field_twitter.0['#url'] }}" target="_blank"></a>
        </li>
      {% endif %}

      {% if content.field_instagram|field_value %}
        <li class="font-social-icon instagram-icon">
          <a href="{{ content.field_instagram.0['#url'] }}" target="_blank"></a>
        </li>
      {% endif %}

      {% if content.field_youtube|field_value %}
        <li class="font-social-icon youtube-icon">
          <a href="{{ content.field_youtube.0['#url'] }}" target="_blank"></a>
        </li>
      {% endif %}

      <li>
        <div class="top-small-menu">
          {{ drupal_menu('header-top-small-menu') }}
          <ul class="login-logout-menu">
            {% if logged_in %}
              <li>
                <a href="{{ url('user.logout') }}" class="logout-link">
                  {{ 'Logout'|t }}
                </a>
              </li>
            {% else %}
              <li>
                <a href="{{ url('user.login') }}" class="login-link">
                  {{ 'Login'|t }}
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </li>
    </ul>
    {{ title_suffix }}

  </div>
</div>
