<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td {{ attributes }} style="padding: 40px 20px;" align="center">
      <div class="newsletter-large-image" style="margin-bottom: 10px;">
        {#{{ content.field_image }}#}
        <img src="{{ content.field_image }}" alt="Image" style="max-width: 100%;">
        <div class="newsletter-bg" style="font-size: 14px; background: #ea3a32; color: #ffffff; margin-top: 0; margin-bottom: 20px; overflow: hidden;">
          {{ content.body }}
        </div>
      </div>
    </td>
  </tr>
</table>

{% if content.childs|length %}
  <table width="100%" cellspacing="0" cellpadding="0">
    {% for row in content.childs|batch(2, ' ') %}
      <tr>
        {% for subentity in row %}
          <td style="vertical-align: top;">{{ subentity }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{% endif %}

