<div class="news-events-list">
  {% if header %}
    {% if header_without_wrapper is not defined %}
      <{{ header_tag|default('h2') }}{{ header_classes }}>
        {{ header }}
      </{{ header_tag|default('h2') }}>
    {% else %}
      {{ header }}
    {% endif %}
  {% endif %}

  {{ rows }}

  {% if rows is not empty and more %}
    <div class="bottom-link">
      <a href="{{ more["#url"] }}" class="read-more">{{ more["#title"] }}</a>
    </div>
  {% endif %}

</div>
