{% if view.args is defined and view.args[1] is defined and view.args[1] is not empty %}
  {% set user_link = url('page_manager.page_view_blog_list_page', {'uid': view.args[1]}) %}
{% else %}
  {% set user_link = url('page_manager.page_view_blog_list_page') %}
{% endif %}
<div class="news-events-list">
  {% if header %}
    {% if header_without_wrapper is not defined %}
      <{{ header_tag|default('h2') }}{{ header_classes }}>
        {{ header }}
      </{{ header_tag|default('h2') }}>
    {% else %}
      {{ header }}
    {% endif %}
  {% endif %}

  {{ rows }}

  {% if rows is not empty %}
    <div class="bottom-link">
      <a href="{{ user_link }}" class="read-more">{{ 'See all posts'|t }}</a>
    </div>
  {% endif %}

</div>
