{% if content.field_member_image %}
  <div class="header-image">
    {{ content.field_member_image|field_value }}
  </div>
{% endif %}

<div class="title-wrapper">
  <h1 class="page-title">{{ label|field_value }}</h1>
  {% if content.field_member_category|field_value %}
    <h2>{{ content.field_member_category|field_value }}</h2>
  {% endif %}
  <div class="line"></div>
</div>

{% if node.body.summary|field_value %}
  <div class="content-summary">
    <p>{{ node.body.summary }}</p>
  </div>
{% endif %}

{{ content.body }}

{% if content.field_content_paragraph|field_value %}
  {{ content.field_content_paragraph|field_value }}
{% endif %}

{% if content.field_member_link|field_value %}
  <div class="font-social-icon top-right-icon">
    <a href="{{ content.field_member_link.0['#url'] }}" class="red-btn-link">
      {{ content.field_member_link.0['#title'] ? content.field_member_link.0['#title'] : content.field_member_link.0['#url'] }}
    </a>
  </div>
{% endif %}
