{% if tabs_event %}
  <div id="{{ tabs_id }}" class="blocktabs-{{ tabs_event }}">
    <ul role="list">
      {% for tab in tabs %}
        <li class="title-wrapper" role="listitem">
          <a href="#{{ tab.id }}" role="link">
            <h1 role="heading">
              {{ tab.title }}
            </h1>
          </a>

          <div class="line"></div>
        </li>
      {% endfor %}
    </ul>

    {% for tab in tabs %}
      <div id="{{ tab.id }}">
        {{ tab.content }}
      </div>
    {% endfor %}
  </div>
{% endif %}
