<div class="timeline" data-anchor-id="paragraph_{{ paragraph.bundle }}-{{ paragraph.id() }}">
  <h2 class="anchor-title" role="heading">
    {{ content.field_title }}
  </h2>
  <div class="red-line"></div>

  <div class="timeline-wrapper">
    {% if content.field_headline|field_value %}
      <h2 role="heading">
        {{ content.field_headline|field_value }}
      </h2>
    {% endif %}

    <div class="timeline-item">
      {{ content.field_time_line_item|field_value }}
    </div>
  </div>

</div>
