<div class="paragraph">
  <div class="timeline-content-item">
    <div class="font-social-icon person-icon">
      <span></span>
    </div>

    {% if content.field_date|field_value %}
      <time>
        {{ content.field_date|field_value }}
      </time>
    {% endif %}

    {{ content.field_body|field_value }}

    {% if content.field_document|field_value %}
      <a href="{{ content.field_document|field_value|render|striptags|trim|raw }}" role="link">
        {{ 'Read more'|t }}
      </a>
    {% endif %}

    {% if content.field_link|field_value %}
      <a href="{{ content.field_link[0]['#url'] }}" role="link">
        {{ content.field_link[0]['#title']|default('Read more'|t) }}
      </a>
    {% endif %}
  </div>
</div>
