<article{{ attributes }} data-anchor-id="node-{{ node.id }}" role="article">
  <div class="post-info">
    {% if content.field_author|field_value %}
      <span class="author">
        {% trans %}By: {% endtrans %} {{ content.field_author|field_value }}
      </span>
    {% endif %}
  </div>

  {{ title_prefix }}
  <div class="title-wrapper">
    <h1 class="anchor-title page-title" role="heading">
      {{ label|field_value }}
    </h1>
    <div class="line"></div>
  </div>
  {{ title_suffix }}

  {% if node.body.summary|raw %}
    <div class="content-summary">
      <p>
        {{ node.body.summary }}
      </p>
    </div>
  {% endif %}

  {{ content|without ('field_author') }}
</article>
