<article{{ attributes }} data-anchor-id="{{ node.id }}" id="{{ node.id }}" role="article">
  {{ title_prefix }}
  <div class="title-wrapper">
    <h1 class="anchor-title page-title" role="heading">
      {{ label|field_value }}
    </h1>
    <div class="line"></div>
  </div>
  {{ title_suffix }}

  {% if node.body.summary|raw %}
    <div class="content-summary">
      <p>
        {{ node.body.summary }}
      </p>
    </div>
  {% endif %}

  {{ content }}
</article>
