{% set classes = [dom_id ? 'js-view-dom-id-' ~ dom_id] %}
{% if view.args is defined and view.args[0] is defined and view.args[0] is not empty %}
  {% set relate_node_link = path('entity.group_content.create_form', {'group':view.args[0], 'plugin_id':'group_node:document'}) %}
{% else %}
  {% set relate_node_link = path('node.add', {'node_type':'document'}) %}
{% endif %}
{% if without_wrapper is not defined %}
<div{{ attributes.addClass(classes) }}>
  {% endif %}
  <div class="title-wrapper">
    {% if logged_in %}
      <div class="contribute-links">
        <a href="{{ relate_node_link }}" class="contribute-link">{{ "Contribute document"|t }}</a>
      </div>
      {{ title_prefix }}
      <h1>
        {{ view.getTitle()|raw }}
      </h1>
      {{ title_suffix|without('contextual_links') }}
      <div class="line"></div>
    {% endif %}
  </div>

  {% if header %}
  {% if header_without_wrapper is not defined %}
  <{{ header_tag|default('h2') }}{{ header_classes }}>
  {{ header }}
</{{ header_tag|default('h2') }}>
  {% else %}
    {{ header }}
    {% endif %}
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

  {{ pager }}

  {{ rows }}

  {% if empty %}
    <div class="empty-result">
      {{ empty }}
    </div>
  {% endif %}
  {{ pager }}

  {{ attachment_after }}

<div class="bottom-link">
  {{ more }}
</div>

{% if footer %}
  {% if footer_without_wrapper is not defined %}
    <{{ footer_tag|default('footer') }}{{ footer_classes }}>
    {{ footer }}
    </{{ footer_tag|default('footer') }}>
  {% else %}
    {{ footer }}
  {% endif %}
{% endif %}

{% if without_wrapper is not defined %}
  </div>
{% endif %}
