{#
/**
 * @file
 *
 * This file is also used in:
 * views-view--news-and-events-group--closed-news-and-events-with-out-filter.html.twig
 */
#}

{% set classes = [dom_id ? 'js-view-dom-id-' ~ dom_id] %}

{% if without_wrapper is not defined %}
<div{{ attributes.addClass(classes) }}>
  {% endif %}
  <div class="title-wrapper" data-anchor-id="view-{{ dom_id }}">
    {{ title_prefix }}
    <h1 role="heading" class="anchor-title" id="small-title">
      {{ view.getTitle()|raw }}
    </h1>
    {{ title_suffix|without('contextual_links') }}
    <div class="line"></div>
  </div>

  {% if header %}
  {% if header_without_wrapper is not defined %}
  <{{ header_tag|default('h2') }}{{ header_classes }}>
  {{ header }}
</{{ header_tag|default('h2') }}>
  {% else %}
    {{ header }}
    {% endif %}
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

  {{ rows }}

  {% if empty %}
    <div class="empty-result">
      {{ empty }}
    </div>
  {% endif %}

  {{ attachment_after }}

<div class="bottom-link">
  {{ more }}
</div>

{% if footer %}
  {% if footer_without_wrapper is not defined %}
    <{{ footer_tag|default('footer') }}{{ footer_classes }}>
    {{ footer }}
    </{{ footer_tag|default('footer') }}>
  {% else %}
    {{ footer }}
  {% endif %}
{% endif %}

{% if without_wrapper is not defined %}
  </div>
{% endif %}
