<div class="banner-image-wrapper">
  <div class="country-content-wrapper">
    {% if group_icon is not empty %}
      <div class="country-icon-wrapper">
        <img src="{{ file_url(group_icon) }}">
      </div>
    {% endif %}

    {% if logged_in %}
    <div class="center">
      {{ following_form }}      
    </div>
    {% endif %}
  </div>

  <div class="banner-image" {#style="background-image: url({{ file_url(content.field_content_image|render|striptags|trim) }})"#}>
    {{ content.field_content_image }}
    {% if content.field_description|field_value %}
      <div class="country-desc">
        <p class="image-text">
          {{ content.field_description|field_value }}
        </p>
      </div>
    {% endif %}
  </div>
</div>
