{% if content.field_infographic_image|field_value[0] is empty %}
<div class="infographic__item infographic__item--no-bg">
{% else %}
<div class="infographic__item" style="background-image: url({{ file_url(content.field_infographic_image|field_value[0]['#item'].entity.uri.value) }});">
{% endif %}


  <div class="icon-wrapper" role="presentation">
    {{ content.field_icon|field_value }}
  </div>

  <div class="title_desc__wrapper">
    <h2 class="heading" role="heading">
      {{ content.field_title|field_value }}
    </h2>
    <p class="description">
      {{ content.field_infographic_description|field_value }}
    </p>
  </div>


  <span class="value">
    {{ content.field_value|field_value }}
  </span>
</div>
