<div class="paragraph">
  <div class="icon-wrapper" role="presentation">
    {{ content.field_icon|field_value }}
  </div>

  <h2 role="heading">
    {{ content.field_title|field_value }}
  </h2>

  <span class="value">
    {{ content.field_value|field_value }}
  </span>

  <div class="infooverlay">
    <h3 role="heading">
      {{ content.field_title|field_value }}
    </h3>

    <p class="description">
      {{ content.field_infographic_description|field_value }}
    </p>
  </div>
</div>
