<a href="{{ path('entity.user.canonical', {'user': user.id()}) }}">
  {% if content.field_avatar %}
    <div class="user-icon">
      {{ content.field_avatar }}
    </div>
  {% endif %}

  <div class="name">
    {{ 'Category manager'|t }}
    {{ content.field_first_name }} {{ content.field_last_name }}
  </div>
</a>
