<div{{ attributes.addClass('contact-item') }}>
  {% if content.field_avatar %}
    {{ content.field_avatar }}
  {% endif %}

  <div class="user-name">
    {% if content.field_first_name|field_value %}
      {{ content.field_first_name|field_value }}
    {% endif %}

    {% if content.field_last_name|field_value %}
      {{ content.field_last_name|field_value }}
    {% endif %}
  </div>

  {% if elements['#user_mail'] is not empty %}
    <div class="font-social-icon mail-icon">
      <span>
        {{ elements['#user_mail'] }}
      </span>
    </div>
  {% endif %}

  {% if content.field_country_manager|field_value %}
    {{ content.field_country_manager }}
  {% endif %}

  {% if content.field_project_manager|field_value %}
    {{ content.field_project_manager }}
  {% endif %}

  {% if content.field_skype_or_other|field_value %}
    {{ content.field_skype_or_other|field_value }}
  {% endif %}

  {% if content.field_telephone|field_value %}
    {{ content.field_telephone }}
  {% endif %}

  {% if content.field_mobilephone|field_value %}
    {{ content.field_mobilephone }}
  {% endif %}

  <div class="font-social-icon organization-icon">
    {% if elements['#organization'] is not empty %}
      <span>
        {{ elements['#organization'] }}
      </span>
    {% else %}
      <span>
        {{ content.field_organisation|field_value }}
      </span>
    {% endif %}
    ,
    <span>
      {{ content.field_job_title|field_value }}
    </span>
  </div>

  {% if content.field_organisations|field_value %}
    {{ content.field_organisations }}
  {% endif %}

  {% if content.field_countryt|field_value %}
    <div class="font-social-icon country-icon">
      <span>
        {{ content.field_countryt|field_value }}
      </span>
    </div>
  {% endif %}
</div>
