<div{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="region-title">
    <h3 role="heading">
      {{ content.label }}
    </h3>
  </div>

  {{ drupal_view('search_for_a_country_or_region', 'embed_1', group.id.value) }}
  {{ drupal_view('cd_user_view', 'kv_manager', group.id.value) }}
</div>
