<a href="{{ url }}" rel="bookmark">
  <article{{ attributes }}>
    {{ title_prefix }}
    <h4 role="heading">
      {{ label|field_value }}
    </h4>
    {% if contextual_link_access %}
      {{ title_suffix }}
    {% endif %}

    {{ content.field_document|field_value }}
  </article>
</a>

