{% set plainBody %}
  {{ content.body|field_value }}
{% endset %}

<div class="timeline-content-item documents">
  {{ content.field_content_date|field_value }}

  <h4 role="heading">
    {{ label }}
  </h4>

  {% if content.body|field_value %}
    <p>
      {{ plainBody|striptags }}
    </p>
  {% endif %}

  {{ content.field_document|field_value }}
</div>
