{% set plainBody %}
  {{ content.body|field_value }}
{% endset %}

<article{{ attributes.addClass('document-teaser') }}>
  {{ title_prefix }}
  <h4 role="heading">
    {{ label|field_value }}
  </h4>
  {% if contextual_link_access %}
    {{ title_suffix }}
  {% endif %}

  {% if content.body|field_value %}
    <p>
      {{ plainBody|striptags }}
    </p>
  {% endif %}

  {{ content.field_document|field_value }}
</article>
