<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% if css %}
    <style type="text/css">
        <!--
        {{ css }}
       -->
      #mimemail-body {
        margin-left: auto;
        margin-right: auto;
        padding: 20px 10px 0;
        max-width: 600px;
        width: 100%;
      }
      #header img {
        margin: 0 auto;
        height: 150px;
        width: 200px;
      }
    </style>
    {% endif %}

    <style type="text/css">
      body {
        background-color: #e9ecee;
        color: #416170;
        font-size: 14px;
        font-family: Arial, sans-serif;
        line-height: 20px;
      }
      #mimemail-body {
        margin-left: auto;
        margin-right: auto;
        padding: 20px 10px 0;
        max-width: 600px;
        width: 100%;
      }
      #header img {
        display: block;
        margin: 0 auto;
        height: 150px;
        width: 200px;
      }
      #members {
        display: table;
      }
      #members img {
        display: table-cell;
      }
    </style>
  </head>
  <body id="mimemail-body" {% if ( module | length > 0 ) and ( key | length > 0 ) %}  {% set class = 'class="' ~ module ~ '-' ~ key ~ '"' %} {% endif %} >
    <div id="header">
      <img src="{{ url('<front>') }}/themes/custom/ample/images/P4H_logo.7.svg" alt="Logo">
    </div>

    <div id="center">
      <div id="main">
        {{ body|raw }}
      </div>
    </div>

    <div id="footer">
      <h3>P4H Members:</h3>
      <div id="members">
        <img src="{{ url('<front>') }}/themes/custom/ample/images/WHO._blue.svg" alt="">
        <img src="{{ url('<front>') }}/themes/custom/ample/images/theworldbank2_blue.png" alt="">
        <img src="{{ url('<front>') }}/themes/custom/ample/images/african-development-bank_blue.svg" alt="">
        <img src="{{ url('<front>') }}/themes/custom/ample/images/ilo-logo-vector_blue.svg" alt="">
      </div>
    </div>
  </body>
</html>
