<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% if css %}
    <style type="text/css">
        <!--
        {{ css }}
       -->
      #mimemail-body {
        margin-left: auto;
        margin-right: auto;
        padding: 20px 10px 0;
        max-width: 600px;
        width: 100%;
      }
      #header img {
        margin: 0 auto;
        height: 150px;
        width: 200px;
      }
    </style>
    {% endif %}

    <style type="text/css">
      <!--
      {{ css }}
      -->
      #mimemail-body {
        margin-left: auto;
        margin-right: auto;
        padding: 20px 10px 0;
        max-width: 600px;
        width: 100%;
      }
      #header img {
        margin: 0 auto;
        height: 150px;
        width: 200px;
      }
    </style>
  </head>
  <body id="mimemail-body" {% if ( module | length > 0 ) and ( key | length > 0 ) %}  {% set class = 'class="' ~ module ~ '-' ~ key ~ '"' %} {% endif %} >
    <div id="header">
      <img src="{{ base_url }}/images/P4H_logo.7.svg" alt="Logo">
      <img src="{{ url('<front>') }}/images/P4H_logo.7.svg" alt="Logo">
    </div>

    <div id="center">
      <div id="main">
        {{ body|raw }}
      </div>
    </div>

    <div id="footer"></div>
  </body>
</html>
