{% set plainBody %}
  {{ content.body|field_value }}
{% endset %}

<div class="timeline-content-item">
  <div class="font-social-icon {{ node.bundle() }}-icon">
    <span></span>
  </div>

  {% if node.bundle() == 'event' %}
    {% if content.field_date['#period']['start_date'] %}
      {{ content.field_date['#period']['start_date'] }}
    {% endif %}
  {% else %}
    {{ content.field_content_date|field_value }}
  {% endif %}

  <h4 role="heading">
    {{ label }}
  </h4>

  <p>
    {{ plainBody|striptags }}
  </p>

  <a href="{{ path('entity.node.canonical', {'node': node.id()}) }}" role="link">
    {{ 'Read more'|t }}
  </a>
</div>
