{% set plainBody %}
  {{ content.body|field_value }}
{% endset %}

<div class="timeline-content-item">
  <div class="font-social-icon {{ node.bundle() }}-icon">
    <span></span>
  </div>

  {% if node.bundle() == 'event' %}
    <time datetime="{{ content.field_date.0.start_date|field_raw }}">
      {{ content.field_date.0.start_date }}
    </time>
  {% else %}
    <time datetime="{{ content.field_content_date|field_value|field_raw }}">
      {{ content.field_content_date|field_value }}
    </time>
  {% endif %}

  <h4 role="heading">
    {{ label }}
  </h4>

  {{ plainBody|striptags }}
</div>
