{#@todo: add event slider.#}
{% if content.field_event_slider %}
  <div class="header-image">
    {{ content.field_event_slider|field_value }}
  </div>
{% endif %}

<article{{ attributes }} role="article">
  <div class="post-info">
    {% if content.field_date['#period'] %}
      {{ content.field_date['#period'] }}
    {% endif %}

    {% if content.field_event_country_content|field_value %}
      <span class="country">
        {{ content.field_event_country_content|field_value }}
      </span>
    {% endif %}
    {% if content.field_event_author|field_value %}
      <span class="author">{% trans %}By: {% endtrans %} {{ content.field_event_author|field_value }}</span>
    {% endif %}
  </div>

  {{ title_prefix }}
  <div class="title-wrapper">
    <h1 class="page-title">{{ label }}</h1>
    <div class="line"></div>
  </div>
  {% if contextual_link_access %}
    {{ title_suffix }}
  {% endif %}

  <div class="event-info">
    <div class="row">
      <span class="label">{{ 'When'|t }}:</span>
      <span class="value">{{ content.field_date }}</span>
    </div>

    {% if content.field_timezone|field_value %}
      <div class="row">
        <span class="label">{{ 'Timezone'|t }}:</span>
        <span class="value">{{ content.field_timezone|field_value }}</span>
      </div>
    {% endif %}

    {% if content.field_location|field_value %}
      <div class="row">
        <span class="label">{{ 'Location'|t }}:</span>
        <span class="value">
        <span class="font-social-icon pin-icon">
          <span></span>
        </span>
        <a href="{{ content.field_location[0]['#url'] }}" target="_blank">{{ content.field_location[0]['#title'] }}</a>
      </span>
      </div>
    {% endif %}

    {% if content.field_event_link|field_value %}
      <div class="row sign-up">
        <a href="{{ content.field_event_link[0]['#url'] }}" target="_blank" class="red-btn-link">
          {{ content.field_event_link[0]['#title'] ? content.field_event_link[0]['#title'] : content.field_event_link[0]['#url'] }}
        </a>
      </div>
    {% endif %}

    {# GA area (checking permission n hook_entity_view) #}
    {{ content.like_and_dislike }}
    
  </div>

  {% if node.body.summary %}
    <div class="summary-text">
      <p>{{ node.body.summary }}</p>
    </div>
  {% endif %}

  {{ content.body }}

  {{ content.addtoany }}

</article>
