<a target="_blank" href="{{ content.field_permalink_url|field_value }}">
  <div class="font-social-icon {{ content.field_social_type|render|striptags|trim }}-icon">
    <span></span>
  </div>
  <time datetime="{{ node.createdtime | date("Y-m-d") }}">
    {{ node.createdtime | format_date('time_line') }}
  </time>
  <p class="tweet">{{ content.body|field_value|render|striptags|trim }}</p>
</a>
