<article{{ attributes.addClass('document-teaser') }}>
  <div class="font-social-icon {{ node.bundle() }}-icon">
    <span></span>
  </div>
  <h4 role="heading">
    {{ label }}
  </h4>
  <a href="{{ content.field_permalink_url|field_value }}" role="link" target="_blank" >
    {{ 'Read more'|t }}
  </a>
</article>
